
@{
    ViewData["Title"] = "Contact";
}

<h2>Contact</h2>

<address>
    4500 Steilacoom Blvd sw<br />
    Lakewood WA 98499
</address>

<p>
    If you have any question please send an email to <a href="mailto:@ViewData["Email"]">CPTC</a>
</p>